header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  color: var(--white);
  font-size: 2.5rem;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2rem;
  }
}
